
.container1{
    background-color: aquamarine;
    text-align: center;
    margin-top:10rem ;
    margin-left: 600px;
    margin-right: 600px;
    padding-top: 1rem;
    width:350px;
    height:270px ;
    
}

